@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to EventLite</h1>
</div>

<section class="text-body">
    <div class="container">
        <form asp-action="Index" asp-controller="Catalog" method="get" id="1">
            <input class="esh-catalog-send" type="image" src="~/images/arrow-right.svg" id="1"/>
        </form>
    </div>
</section>
 